.message {
    border: 1px solid red;
    justify-self: end;
    background: #007bff;
    color: white;
}

.imageAndText {
    border: 1px solid green;
}

.imageAndText img {
    border: 1px solid blue;
}

.text {
    border: 1px solid black;
}

.text:after {

}

.name {
    background-color: blueviolet;
}

.messageText {
    background-color: brown;
}

.time {
    background-color: gold;
}